@import "./utils/_helpers.scss";

.App {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

header {
  color: #222;
}

.pad-controller {
  display: block;
  padding: em(16px);
  border-radius: em(5px);
  background-color: $color-pad;

  .left-flex {
    padding-right: 0;

    @media (min-width: $breakpoint-tablet) {
      padding-right: em(16px);
    }
  }

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row;
  }

}
